
@model Biluthyrning.Models.Booking

@{
    ViewData["Title"] = "Bil bokad!";
}

<h2>Uthyrning avslutad!</h2>

<h4>Kunden ska betala @Model.Price kr</h4>

<a asp-action="Cancel">Tillbaka till alla bokningar</a>

