@model Biluthyrning.Models.Booking

@{
    ViewData["Title"] = "Avsluta hyrning";
}

<h2>Avsluta hyrning</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Payment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" value="0" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" value="null" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PickUpDate" />
            <input type="hidden" asp-for="Car.Id" />
            <input type="hidden" asp-for="Customer.Id" />
            <input type="hidden" asp-for="Car.DrivenKm" />
            <input type="hidden" asp-for="Car.CarType" />
            <input type="hidden" asp-for="Customer.FirstName" />
            <input type="hidden" asp-for="Customer.LastName" />
            <input type="hidden" asp-for="Customer.PersonalNumber" />
            <input type="hidden" asp-for="Active" />
            <input type="hidden" asp-for="Car.RegistrationNumber" />

            <div class="form-group">
                <input type="submit" value="Avsluta hyrning" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
