@model Biluthyrning.Models.Booking

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Products</h2>

    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.BookingNumber)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PickUpDate)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.ReturnDate)*@
                </th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
   
    </table>