@model Biluthyrning.Models.Car

@{
    ViewData["Title"] = "Edit";
}

<h2>Ändra bilens status </h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrivenKm" class="control-label"></label>
                <input asp-for="DrivenKm" class="form-control" />
                <span asp-validation-for="DrivenKm" class="text-danger"></span>
            </div>
            @*<div>
            <select asp-for="Product.CategoryId" asp-items="Model.AllCategories"></select>

        </div>*@
            <div>
                <label asp-for="ForRent"></label>
                <input type="checkbox" asp-for="ForRent" />
            </div>
            <div>
                <label asp-for="Cleaning">Ska städas</label>
                <input type="checkbox" asp-for="Cleaning" />
            </div>
            <input type="hidden" asp-for="Counter" />
            <input type="hidden" asp-for="Dispose" />
            <input type="hidden" asp-for="Service" />

            @*<input type="hidden" asp-for="Cleaning" />*@


            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
