@model Biluthyrning.Models.Customer


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Kundens uppgifter</h3>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Förnamn</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Efternamn</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalNumber" class="control-label">Kundens personnummer</label>
                <input asp-for="PersonalNumber" class="form-control" />
                <span asp-validation-for="PersonalNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Spara kund" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}